section.depoimentos {
  width: 100%;
  background-color: var(--bg-branco);
}



.depoimentosContainer {
  margin: auto;
  max-width: 1440px;
  padding: 64px 70px;
  gap: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }

  p {
    text-align: center;
    margin-top: 16px;
    font-size: 16px;
    line-height: 16px;
  }

  .testemunha {
    display: flex;
    flex-direction: column;
    
    /* margin: 0 64px; */
  }

  .testemunhaBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--branco);
    border-radius: 16px;
    min-height: 300px;
    
    padding: 32px;
  }

  .testemunhaBox img {
    width: 20%;
  }

  .testemunhaText {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    margin-top: 16px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 20px;

    p{
        text-align: left;
    }
    
  }

  .testemunhaAvatar {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .testemunhaName {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    font-family: "Poppins", Sans-serif;
    letter-spacing: -0.2px;
    line-height: 24px;
  }
  .testemunhaName h3 {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-preto);
    margin: 0;
    padding: 0;
  }
  .testemunhaName p {
    color: var(--color-preto);
    font-size: 14px;
    margin: 0;
    line-height: 20px;
    padding: 0;
    
  }
  .linkButton{
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    color: #1a1a1a;
    background-color: var(--amarelo-yelly);
    border-radius: 100px;
    text-align: center;
    padding: 8px 64px;
  }

  .linkButton:hover{
  
    background-color: var(--hover-amarelo-yelly);
    
  }

}



@media (max-width: 680px) {

  .depoimentosContainer{
    padding: 32px 16px;

    .linkButton{
      padding: 8px 24px;
    }
  }
}