.card{
    
    max-width: 1440px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 64px 70px;


    strong{
        color: var(--branco);
        font-weight: 700;
    }

    h2{
        font-size: 28px;
        line-height: 32px;
        font-weight: 400;
        letter-spacing: -0.2px;
        text-align: center;
    }

    span{
        color: var(--branco);
    }

    

   
    

}

.products{
    max-width: 1440px;
    width: 100%;
    cursor: grab;
    .cardProdutos{

        background: linear-gradient(#1a1a1a 0% , #000 100%);
        
        border: 2px solid #FFFFFF33;
        border-radius: 8px;
        padding: 32px;
              
        .ladoImagem{
            display: none;
        }

        .ladoTexto{
             display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 16px;            
            
        }

        &.isUnico{
            padding: 64px;
            .cardContainer{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 128px;
            }
            .ladoImagem{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                text-align: center;

                img{
                    max-width: 540px;
                    width: 100%;
                }
            }

            .ladoTexto{

                img,h4{
                    display: none;
                }
                
                
            }

        }
        

       
        h3,h4, p{
            font-family: var(--roc-grotesk);
            font-weight: 700;
            text-transform: uppercase;
        }
        h3{
            color: var(--amarelo-calro);
            font-size: 28px;
            line-height: 32px;
            font-family: var(--roc-grotesk-condensed);
        }
        h4{
            font-size: 32px;
            line-height: 48px;
            padding: 4px;
            border-radius: 8px;
            color: var(--branco);
        }
        img{
            max-width: 256px;
            width: 100%;
        }
        .valores{
            display: flex;
            flex-direction: row;
            align-items: end;
            gap: 16px;
           
            font-family: var(--font-poppins);

            p{
                font-size: 28px;
                line-height: 16px ;
                font-family: var(--roc-grotesk);
                text-transform: none;
                
                span{
                    font-size: 14px;
                    font-family: var(--font-poppins);
                    font-weight: 400;
                }
            }

            .preco{
                
                .precoAntigo{
                    font-size: 14px;
                    line-height: 16px;
                    font-weight: 500;
                    span{
                        text-decoration: line-through
                    }
                }
                .parcelas{
                    font-size: 48px;
                    line-height: 48px;
                    font-weight: 800;
                    font-family: var(--font-poppins);
                    span{
                        
                        font-size: 32px;
                        line-height: 48px;
                        font-weight: 800;
                    }
                }
                .precoNovo{
                   
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                }
               
            }
            
        }

        a{
            color: #1a1a1a;
            background-color: var(--amarelo-yelly);
            width: 90%;
            padding: 4px ;
            font-size: 20px;
            line-height: 32px;
            font-weight: 500;
            border-radius: 100px;
        }
        a:hover{
            background-color: var(--hover-amarelo-yelly);
        }
        
        &.yelly-minizinha{
            border: 2px solid #FFFF00BF;

            & > h4{
                background-color: var(--amarelo-calro);
                color: #1a1a1a;
            }
        }
         hr{
            width: 100%;
            background-color: #FFFFFF33;
            border: none;
            height: 1px;
        }

        ul{
            list-style-position: inside;
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
        li{
            text-align: left;
            font-size: 12px;
            line-height: 16px;
            font-weight: 400;
        }

                
        li:nth-child(-n+2){
            color: var(--amarelo-calro);
            font-weight: 600;
        }

        li:nth-child(1)::after {
            content: ' 🚚';
        }
        li:nth-child(2)::after {
            content: ' 💳';
            
        }
        
        
        &.yelly-minizinha li:nth-last-child(-n+3) {
            color: #5d5c5c;
            text-decoration-line: line-through;
        }
        &.yelly-mini li:nth-last-child(-n+3) {
            color: #5d5c5c;
            text-decoration-line: line-through;
        }
        &.yelly-pro li:nth-last-child(-n+2) {
            color: #5d5c5c;
            text-decoration-line: line-through;
        }
        
        .maisInformacoes{
            width: 100%;
            padding: 2px 0;
            margin: 0;
            background-color: inherit;
            color: var(--branco);
            text-align: left;
            font-size: 12px;
            line-height: 16px;

            img{
                width: auto;
                padding-left: 8px;
            }
        }

        .maisInformacoes:hover{
            background-color: inherit;
            /* color: inherit; */
            text-decoration: underline;
        }
        
        
    }
}


.recebimentoETaxas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 930px;
    width: 100%;

    .recebimentos{
        display: flex;
        flex-direction: row;
        gap: 16px;
        
        h3{
            font-size: 22px;
            line-height: 24px;
            color: var(--branco);
            font-weight: 400;
        }

        .divisor{
            width: 4px;
            
            background-color: var(--bg-branco);
        }
    }

    .taxasContainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        gap: 48px;
        width: 100%;
        

        .taxas{
            display: flex;
            align-items: center;
            justify-content: center;
            
            gap: 16px;
            background-color: #282828;
            padding: 8px 16px;
            border-radius: 4px;

            p{
                font-size: 20px;
                line-height: 28px;
                font-weight: 400;
            }
            
            p:last-of-type{
                font-weight: 700;
            }
        }

        
    }
}

.selecionarPlanoContainer {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;

    .planos {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
        
        flex-wrap: wrap;  /* Quenbra para a próxima linha caso não caiba na horizontal*/
    }



    .planoButton {
        background-color: var(--bg-preto);
        border: 1px solid #f5f5f560;
        border-radius: 100px;
        padding: 0px 24px;
        display: flex;
        align-items: center;
        gap: 16px;
        position: relative;
        cursor: pointer;
        color: var(--branco);
        font-weight: 700;
        letter-spacing: 2px;
        transition: all 0.2s;
        font-family: var(--roc-grotesk-condensed);


        .bolinhaExterna{
            width: 16px;
            height: 16px;
            border: 1px solid var(--bg-branco);
            background-color: transparent;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            .bolinha {
                width: 12px;
                height: 12px;
                
                border-radius: 50%;
            }

            .bolinhaSelecionada {
                width: 12px;
                height: 12px;
                background: var(--amarelo-calro);
                border-radius: 50%;
            }
        }



        .nome{
            font-size: 24px;
            line-height: 32px;
        }
        .destaque{
            font-size: 20px;
            line-height: 32px;
            color: var(--amarelo-calro);
        }



    }
    .planoButton:hover {
        border-color: var(--bg-branco);
    }
    .selecionado {
        background-color: #323232;
    }

}


@media (max-width: 1080px){
    .selecionarPlanoContainer{

        flex-direction: column;
        gap: 16px;

        

        .planos{
            /* Aqui muda para grid, pois a ordem dos elementos vão mudar */

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "max economic"
            "basic basic";
            gap: 16px;


            .max {
                grid-area: max;
            }

            .basic {
                grid-area: basic;
            }

            .economico {
                grid-area: economico;
            }

            .planoButton {
                justify-content: center;
                width: 100%; /* para o basic ocupar a linha toda */
            }
        }

    }

    .recebimentoETaxas .recebimentos{
        flex-direction: row;
        align-items: center;
        gap: 8px;

        h3{
            text-align: center;
        
        }

        .divisor{
            width: 4px;
            height: 100%;
            background-color: var(--bg-branco);
        }



        .taxasContainer{
            gap: 32x;
            
            

            .taxas{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
               

                p{
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: 400;
                }
                
                p:last-of-type{
                    font-weight: 700;
                }
            }

            
        }
    }

    .products{
        .cardProdutos{


            &.isUnico{
                

                .cardContainer{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 64px;
                }
               

            }
        }
    }

}


@media (max-width: 850px){


    .recebimentoETaxas .recebimentos{
        display: flex;
        flex-direction: column;
        gap: 8px;

        .divisor{
            width: 100%;
            height: 1px;
            background-color: var(--bg-branco);
        }

        
        
    }

    .recebimentoETaxas .taxas {
        flex-direction: column;
        gap: 8px !important;
    }


    .products{
        .cardProdutos{
            
            &.isUnico{
                padding: 32px;
                
                .ladoImagem{
                    display: none;
                    
                }

                .ladoTexto{

                    img,h4{
                        display: inline-block;
                    }
                    
                    
                }

            }
        }
    }
}

@media (max-width: 680px){

    .card{
        padding: 32px 16px;
        h2{
            font-size: 24px;
            line-height: 32px;
        }

        span{
            font-size: 12px;
            line-height: 16px;
        }


    }

    .selecionarPlanoContainer{

    
        .planos{
            
            .nome{
                font-size: 22px;
                line-height: 32px;
            }
            .destaque{
                font-size: 20px;
                line-height: 32px;
                color: var(--amarelo-calro);
            }

        }
        

    }

    .recebimentoETaxas .recebimentos{

        gap: 2px;
        
        
        h3{
            font-size: 15px;
            line-height: 28px;
        }

        
    }

    .recebimentoETaxas .taxasContainer {
        gap: 8px;
        
        .taxas  {
            flex-direction: column;
            gap: 8px;
            padding: 10px 16px;

            p{
                font-size: 14px;
                line-height: 16px;
            }
        }

    }

    .products{
        .cardProdutos{
            
            
                .ladoTexto{

                    h4{
                        font-size: 28px;
                    }
                    
                    
                }
        }
    }

}


@media (max-width: 430px){


    .products{
        .cardProdutos{
            
            
            .ladoTexto{

                h4{
                    font-size: 26px;
                }
                
                .valores{
                    

                    p{
                        font-size: 23px;
                       
                        span{
                            font-size: 12px;
                            
                        }
                    }

                    .preco{
                        
                        .precoAntigo{
                            font-size: 12px;
                            
                        }
                        .parcelas{
                            font-size: 40px;
                            line-height: 48px;
                            
                            span{
                                
                                font-size: 28px;
                                line-height: 48px;
                                font-weight: 800;
                            }
                        }
                        .precoNovo{
                        
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 16px;
                        }
                    
                    }
                    
                }
                a{
                    width: 100%;
                }

                

                            
            }
        }
    }

}
