
.marquee{
    background-color: var(--amarelo-calro);
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}
 .marquee span{
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    will-change: transform;
    transform: translateX(0);
    white-space: nowrap;
    animation: marquee 10s linear infinite;
    padding-right: 16px;
    padding-left: 16px;
    /* color: var(--branco); */
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-preto);
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

