:root {
  --roc-grotesk: "roc-grotesk", sans-serif;
  --roc-grotesk-compressed: "roc-grotesk-compressed", sans-serif;
  --roc-grotesk-condensed: "roc-grotesk-condensed", sans-serif;
  --roc-grotesk-wide: "roc-grotesk-wide", sans-serif;
  --roc-grotesk-extrawide: "roc-grotesk-extrawide", sans-serif;
}
