:root {
  --background: #f5f5f5;
  --foreground: #1a1a1a;
  --roc-grotesk: "roc-grotesk", sans-serif;
  --roc-grotesk-compressed: "roc-grotesk-compressed", sans-serif;
  --roc-grotesk-condensed: "roc-grotesk-condensed", sans-serif;
  --roc-grotesk-wide: "roc-grotesk-wide", sans-serif;
  --roc-grotesk-extrawide: "roc-grotesk-extrawide", sans-serif;

  --desktop: 1440px;  
  --largeScreen: 1080px;
  --mediunScreen: 850px;
  --mobile: 680px;
  
  --amarelo-yelly: #FFC700;
  --hover-amarelo-yelly: #D19100;
  --amarelo-calro: #FFFF00;
  --hover-amarelo-claro: #E5E500;
  --branco: #fff;
  --bg-preto: #1a1a1a;
  --bg-branco: #f5f5f5;
  --color-preto: #1a1a1a;
  --color-branco: #f5f5f5;
  --business1: #F9610D;
  --hover-business1: #9A3904;
  --business2: #17222D;
  --business3: #2E5EE5;
  --hover-business3: #2A55A6;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


body {
  
  font-family: var(--font-poppins), system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--color-preto);
}

a {
  color: inherit;
  text-decoration: none;
}
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

.linkButton{
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #1a1a1a;
  background-color: var(--amarelo-yelly);

}