.header{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background-color: var(--branco);
}


.desktop{
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding: 16px 70px;  /* altura, largura */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    

    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -2%;

    .logo{
        width: 102px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .menu{
        /* max-width: 750px; */
        /* width: 100%; */
        position: relative;
        ul{
            display: flex;
            gap: 32px;
        }

        li{
            list-style: none;
            text-decoration: none;
            
        }
        li.dropdown:hover ul.submenu{
            display: flex;
            flex-direction: column;
        }

        ul.submenu{
            position: absolute;
            top: 100%;
            background-color: var(--branco);
            z-index: 1;
            box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
            gap: 0;
            font-size: 14px;
           
            display: none;
        }
        ul.submenu li{
            background-color: var(--branco);
        }
        
        ul.submenu li a{
            display: block;
            width: 180px;
            padding: 16px;
        }
        ul.submenu li:hover{
            background-color: var(--bg-preto);
            color: var(--branco);
        }
        

    }

    
    
    .botoes{
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        font-size: 14px;

        .btn1{
            font-size: 16px;
            line-height: 16px;
            padding: 8px 24px;
            background-color: var(--amarelo-calro);
            border-radius: 100px;
        }

        .btn2{
            font-size: 16px;
            line-height: 16px;
            padding: 8px 24px;
            background-color: #FFFF7F;
            border-radius: 100px;
        }

        .btn1:hover, .btn2:hover{
            background-color: var(--hover-amarelo-claro);
        }
        .cart{
            
    display: flex;
    align-items: center;
    justify-content: center;
    
}
    }
}

.mobile{
    display: none;
}

@media (max-width: 1080px) {
    .desktop{
        display: none;
    }

    .mobile{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px 32px;
        position: relative;

        .menuBurguer{
            width: 20%;

            img{
                background-color: var(--bg-branco);
            }
           
        }
        .logo{
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: center;

            
        }
        .botoes{
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 16px;
        }

        
        

        nav{
            position: fixed;
            top: 104px; /* ou a altura do seu header */
            left: 0;
            width: 100%;
            background-color: #fafafa;
            z-index: 999;
            display: flex;
            flex-direction: column;
            gap: 32px;
            padding: 0; /* manter zerado por padrão */
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.4s ease, padding 0.3s ease;

            li{
                
                font-size: 20px;
                line-height: 32px;
                font-weight: 500;
                list-style: none;
                /* cursor: pointer; */
                padding: 0;
            }
            li a{
                padding: 8px 32px;
                width: 100%;
                display: block;
            }

            .dropdown {
                padding: 8px 32px;
                cursor: pointer;
            }
            .alignCenter{
                display: flex;
                align-items: center;
                gap: 16px;
            }
            .alignRight{
                margin-left: auto;
            }

           
            .submenu li{
                font-size: 18px;
                
            }
            /* Submenu escondido por padrão */
            .submenu {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.4s ease;
            }

            /* Submenu visível */
            .show {
                max-height: 500px; /* ou o suficiente pro seu conteúdo */
            }

            .botoes{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                font-size: 16px;
                line-height: 16px;

                .btn1{
                    font-weight: 700;
                    background-color: var(--amarelo-yelly);
                    border-radius: 100px;
                    padding: 8px 48px;
                }
                .btn2{
                    font-weight: 500;
                    border: 1px solid var(--color-preto);
                    border-radius: 100px;
                    padding: 8px 48px;
                }
            }

            a:active{
                background-color: var(--bg-preto);
                color: var(--branco)
            }
            
            
        };
    }
    
    .mobile.menuAberto nav {
            max-height: 1000px; /* grande o suficiente */
            padding: 16px 0;
    }
    

    
}

@media (max-width: 600px) {
    .mobile{
        padding: 16px;
    }
}