.sliderWrapper {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

/* Aplica somente quando navigation for true */
.withNavigation {
  padding: 0 48px;
}

.sliderContainer {
  width: 100%;
  overflow: hidden;
}

/* Botões externos */
.navButton {
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 20px;
  height: 20px;
  background: #FFC700;
  color: #000;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  
}



.prevButton {
  left: 0;
}

.nextButton {
  right: 0;
}
